{% extends "base.html" %}

{% from "macros/js_helpers.html" import selectall_js %}

{% block head %}
{{ selectall_js() }}
<script type="text/javascript">
    $(document).ready(function () {
        $("#hide_already_queued").click(function () {
            var trs = $(":checkbox[name='hosts']:disabled").parents("tr")

            if ($(this).is(":checked"))
                trs.fadeOut();
            else
                trs.fadeIn();
        })
    });
</script>
{% endblock %}

{% block content %}
<p>Data collected on: {{ lastupdate|default('never', true) }}</p>
{% if updatelist is not defined %}
    <h3>No updates available.</h3>
{% else %}
    <h3>Updates available:</h3>
    <label><input type="checkbox" id="hide_already_queued" />Hide already queued hosts</label>
    <form method="post" action="{{url_for('queue_multiple_hosts')}}">
    <input type="hidden" name="_csrf_token" value="{{csrf_token()}}">
    <table class="hovertable">
    {% for host in updatelist %}
        <tr>
            <td>{{ host.name }}</td>
            <td class="aligncenter">
                <a href="{{url_for('home', server=host.name)}}#updates" title="show packages">
                    {{ host.update_count }} update{% if host.update_count != 1 %}s{% endif %}
                </a>
            </td>
            <td class="alignright">
            {% if host.queued -%}
                queued
            {% else %}
                <a href="javascript:ask('{{url_for('queue_host', hostname=host.name)}}', 'Install updates for {{host.name}} when install-cronjob runs next time?')">add to queue</a>
            {% endif %}
            </td>
            <td class="aligncenter">
                <input type="checkbox" name="hosts" value="{{ host.name }}" {% if host.queued %}checked disabled{% endif %} />
            </td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="2"></td>
            <td class="alignright"><label for="select_all_hosts">Select all:</label></td>
            <td class="aligncenter"><input type="checkbox" id="select_all_hosts"></td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td class="aligncenter"><input type="submit" value="Queue selected hosts"></td>
        </tr>
    </table>
    </form>
    <p><a href="javascript:ask('{{url_for('queue_all_hosts')}}', 'Add all updates on all {{updatelist|length}} servers to the queue?')">Add all {{updatelist|length}} servers to update queue</a></p>
    {% if update_details is defined %}
    <h3><a name="updates"></a>Updates for {{update_details.host}}
        {% if not update_details.queued %}
            <a href="javascript:ask('{{url_for('queue_host', hostname=update_details.host)}}', 'Install updates for {{update_details.host}} when install-cronjob runs next time?')"> [ add to queue ]</a>
        {% endif %}</h3>
        <ul>
        {% for update in update_details.updates %}
            <li>{{update}}</li>
        {% endfor %}
        </ul>
    <a href="#top">back to top</a>
    {% endif %}
{% endif %}
{% endblock %}
